.firstLine {
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.s-container {
  position: relative;
  height: 23rem;
  width: 100%;
}

.s-container .swiper {
  width: 70%;
  height: 100%;
  position: unset;
}

.s-container .swiper-slide {
  background: white;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.s-container .swiper-button-prev {
  left: 6rem;
}

.s-container .swiper-button-next {
  right: 6rem;
}

.s-container .swiper-button-prev,
.s-container .swiper-button-next {
  color: black;
}

.left-s {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: column;
}

.name > :first-child {
  font-size: 1.4rem;
  font-weight: 600;
}

.name > :nth-child(2) {
  font-size: 1rem;
}

@media screen and (max-width: 640px) {
  .firstLine {
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    align-items: center;
    justify-content: center;
  }
  .firstLine > img {
    width: 4rem;
  }
  .firstLine > h1 {
    text-align: center;
  }
}
